@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  user-select: none;
  background:
    radial-gradient
    (circle,
    rgba(250, 248, 248, 0.671), rgba(111, 218, 24, 0.082));
}

h1 {
  font-size: 9rem;
  color: rgba(212, 231, 195, 0.247);
  margin-top: 4rem;
}

h2 {
  font-size: 1.5rem;
  color: rgba(111, 218, 24, 0.801);
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1em;
  position: relative;
  font-size: 1rem;
}

i {
  font-size: 1.2rem;
  color: rgb(116, 110, 110);
  cursor: pointer;
}

.flex {
  display: flex;
}

.border-bottom {
  border-bottom: 1px solid #58ac1459;
}

.submit {
  background: none;
  border: none;
}

.container {
  width: 100%;
  max-width: 450px;
  background-color: white;
  border: 1px solid #58ac1470;
  box-shadow:
    3px 10px 10px rgba(75, 72, 72, 0.377),
    -5px 0 7px rgba(75, 72, 72, 0.219);
  gap: 0.5rem;
  border-radius: 5px;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.8em 0.4em 1em;
}

form {
  align-items: center;
  padding-right: 0.8em;
}

form input {
  font-style: italic;
}

.todo {
  align-items: center;
  position: relative;
  padding-right: 0.8em;
  justify-content: space-between;
}

.todo .box {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 3%;
  z-index: 100;
  cursor: pointer;
}

.todo input {
  width: 90%;
  padding-left: 2.5rem;
  color: rgb(74, 148, 14);
}

.clear-todos button {
  border: none;
  width: 100%;
  padding: 1.1em 0;
  color: #696565;
  background-color: rgba(111, 218, 24, 0.555);
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
}

.clear-todos button:active {
  transform: scaleY(0.98);
  background-color: rgba(64, 131, 9, 0.63);
}

.alert {
  text-align: center;
  color: rgba(101, 206, 16, 0.151);
  padding: 0.2em;
  font-size: 2.5rem;
  font-weight: 700;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
}

#clear-completed {
  position: fixed;
  top: 5%;
  right: -100%;
  background-color: rgba(141, 219, 15, 0.315);
  border: 2px solid rgba(114, 209, 36, 0.829);
  width: 300px;
  transition: 0.5s ease-in-out;
}

#clear-completed.active {
  right: 5%;
}

.clear-completed {
  font-size: 0.8rem;
  padding: 1em;
  color: #756d6d;
  align-items: center;
}

.clear-completed .bx-trash {
  font-size: 1.5rem;
  color: rgb(160, 150, 150);
  border: 1px solid rgb(167, 159, 159);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}
